/* body {font-family: 'arial', sans-serif;background-color:#f2f7f2;color: #666666;font-size: 0.9rem;overflow-x: hidden;} */

.primaryblue{background-color: #077b96;}
.primarytext{color: #0c687c;}
.icon-circle{height: 4.5rem;width: 4.5rem;border-radius: 100%;}
.form-control{height: 25%;width: 100%;}
